/*
mobile first
*/

/*
v background v
*/
body{
	background-image: linear-gradient(#125688 50%, #ffffff 50%);
	margin: 100px auto;
	}
.wrapper{
	width: 800px;
	background-size: 75% auto;
	margin: 0 auto;
}
/*
^ end background ^
v structure v
*/
.top{
	display: inline;
}
.phonePics{
	display: block;
	float: left;
	margin: 5%;
	clear: both;
/*	height: 25%;					 fix for mobile
	width: 25%;	*/
}
.infoBlock{
	margin: 5%;
									/*	background-image: url('images/frame.png');			acting weird
										background-repeat: no-repeat;	*/
}
footer{
	display: block;
	clear: both;
	margin: 0 auto;
	text-align: center;
	}
nav ul{
	list-style: none;
}
nav li{
	display: inline-block;
}

h6{
	display: inline;
}
p{
	margin: 2%;
}
/*
^ end structure ^
v text v 
*/

/*
^ end text ^
v buttons v
*/
.btn{
	display: inline-block;
	height: 51px;
	width: 152px;
	border-radius: 10px;
	background-repeat: no-repeat;
	background-position: top;
	margin-top: 2.5%;
}
#iphone{
	background-image: url(images/badge-iphone.png);
	}
#android{
	background-image: url(images/badge-android.png);

	}
#login{
	background-image: url(images/home.png);
	background-position: left;
}

/* ^ end buttons ^ */

@media (min-width: 600px) {
	/*
	for desktop
	*/
}
