@media (min-width: 600px) {
	/*
	for desktop
	*/
	*{
	
}
.wrapper{
	width: 800px;
	background-size: 75% auto;
	margin: 0 auto;
	}


}
/*
mobile first
*/

/*
v background v
*/
body{
	background-image: linear-gradient(#125688 50%, #ffffff 50%);
	margin: 100px auto;
	}
.wrapper{
	width: 900px;
	background-size: 75% auto;
	margin: 0 auto;
}
/*
^ end background ^
v structure v
*/
.top{
	display: inline-block;
	width: 480px;
	height: auto;
	float: right;
}
#insta{
	width:70%;
	display: inline-block;
	padding: 0 20px 0 0;

}

.phonePics{
	display: inline-block;
	margin: 2%;
	float: left;
/*	width: 20%;						makes image small in mobile and desktop
	height: auto; */
}
.infoBlock{
	width:480px;
	margin:40px 0;
	float: right;
	background: white;
	border-radius: 5px;
									/*	background-image: url('images/frame.png');			acting weird
										background-repeat: no-repeat;	*/
}
img{
	width: 100%;
	height: auto;
}
body{
	font-family: 'Open Sans', sans-serif;
}
footer{
	display: block;
	clear: both;
	margin: 0 auto;
	padding-top: 40px;
	text-align: center;
	}
nav ul{
	list-style: none;
}
nav li{
	display: inline-block;
	font-size: 11px;
	padding: 0 .9em;
}
a{ 
	text-decoration: none;
	color: #125688;
	font-weight: 700;
}
a:hover{
	font-size: 13px;
	background-color: #e9e9e9;
}


										/* text-decoration and text transform?*/

h2{
	font-size: 1.2em;
	font-weight: 900;
	letter-spacing: .08em;
	line-height: 1.3em;
	color:#124678;
	width: 230px;
	display: inline-block;
	padding: 20px 0 15px 25px;
}

b{
font-weight: 900;
}
h6{
	display: inline;
}
p{
	font-weight: 100;
	font-size: .9em;
	line-height:1.1em;
	padding: 0 0 25px 25px;
	}
/*
^ end structure ^
v text v 
*/

/*
^ end text ^
v buttons v
*/
.btn{
	display: inline-block;
	height: 51px;
	width: 152px;
	border-radius: 10px;
	background-repeat: no-repeat;
	background-position: top;
}
.appBtns{
	display: inline-block;
	padding: 0 0 0 40px;
}
#iphone{
	background-image: url(images/badge-iphone.png);
	margin-right: 15px;
	}
#android{
	background-image: url(images/badge-android.png);
	}
#login{
	border: 2px solid black;
	width: 120px;
	height: 50px;
	float: right;
	position: relative;

		/*background-image: url(images/home.png);
	background-position: left;*/
	background: rgba(18,106,166,1);
}
#login img{
width:25%;
float: left;
position: relative;
top: .7em;
left: 1.1em;
}
#login p{
	color: white;
	position: relative;
	top: 1.35em;
	left:2.1em;
}
a:hover #login{
	font-size: 15px;
}

/* ^ end buttons ^ */


